/* NAV MENU */
.topnav {
    text-align: center;
    position: fixed;
    background-color: black;
    overflow: hidden;
    margin: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    background-color: rgb(25, 25, 25);
    opacity: .7;
    transition: .3s;
}

.topnav:hover {
    opacity: 1;
    transition: .3s;
}

.topnav a {
    float: left;
    color: #000066;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(50,50,50);
    color: black;
    opacity: 1;
    transition: .3s;
}
/* END NAV MENU */

/* HEADER */
.header {
}
/* END HEADER */

/* BODY */
body {
    background: #000000 url("/static/images/bg_screen.png") no-repeat fixed center;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* END BODY */

/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    background-color: rgb(25, 25, 25);
    bottom: 0px;
    z-index: 100;
    opacity: .7;
    transition: .3s;
}

footer:hover {
    opacity: 1;
    transition: .3s;
}
/* END FOOTER */

input, button{
}

textarea {
    height: 220px;
    width: 465px;
}

.center {
    text-align: center;
}

.fade-in-image {
    animation: fadeIn 1s;
}

.content-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
	position: relative;
	width: 100vh;
	height: 50vh;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	margin-bottom: 10em;
	padding: 3em 3em 3em 3em !important;
}

.content-container {
    text-align: center;
    align-items: center;
    }

h1 {
    text-align: center;
    color: rgb(200,200,200);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}

.white-fade {
    font-size: 40px;
    font-weight: 100;
    background: -webkit-linear-gradient(#FFFFFF, #7C7C7C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

td:hover {
    background-color: #4a4a4a;
}

table tbody tr {
    border-bottom: 1px solid #292929;
}

table tbody tr:nth-of-type(even) {
    background-color: ##2e2e2e;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #805500;
}

a {
    text-decoration: none;
    color: #00001a;
}

form {
    margin: 10px;
}

button {
    margin: 10px;
    font-size: 16px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}